@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  background-color: white;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .pattern {
    background-image: radial-gradient(
        rgb(135, 135, 135, 0.5) 3%,
        transparent 3%
      ),
      radial-gradient(rgb(135, 135, 135, 0.5) 3%, transparent 3%);
    background-position: 0px 0px, 25px 25px;
    background-size: 50px 50px;
    background-color: white;
    position: relative;
    z-index: 45;
  }

  .pattern::after {
    content: "";
    position: absolute;
    z-index: 46;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255),
      transparent
    );
  }

  .btnPrimary {
    @apply bg-black text-white px-3 py-2 rounded-lg shadow-lg text-center flex justify-center items-center gap-2 transition hover:scale-[1.03] active:scale-[0.97];
  }
  .btnSecondary {
    @apply bg-transparent text-inherit border-2 border-black px-3 py-2 rounded-lg shadow-lg text-center flex justify-center items-center gap-2 transition hover:scale-[1.03] active:scale-[0.97] hover:bg-black hover:text-white;
  }
}
